.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--color-light-primary);
    border-radius: 16px;
    padding: 25px;
    color: var(--color-white);
    width: 305px;
    margin-top: 23px;
    text-align: center;
    border: 3px solid transparent;
    transition: all 0.3s ease-out;

    .icon {
        color: var(--color-white);
        height: 19px;
        width: 19px;
        background-color: var(--color-primary);
        border-radius: 50%;
        padding: 5px;

    }

    &:hover {
        color: var(--color-black);
        background-color: transparent;
        border: 3px solid var(--color-light-primary);
        text-decoration: none;
        cursor: pointer;

    }
}
