.bas-de-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 100px 0;

    h4 {
        margin-top: 0;
    }

    .copyright {
        text-align: right;
    }

    .logo-footer {
        margin-top: 0;
        text-align: center;
        padding: 0 80px;
        border: 2px var(--color-light-primary);
        height: 200px;
        border-style: none solid none solid;
    }

    .liens {
        text-align: left;

        ul {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
    }
}
