.bas-de-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 100px 0;

    @media screen and (max-width: $breakpoint-md) {

        grid-template-columns: 1fr;
        gap: 60px;
        }


    h4 {
        margin-top: 0;
    }

    .copyright {
        text-align: right;

        @media screen and (max-width: $breakpoint-md) {

            text-align: center;
            }
    }

    .logo-footer {
        margin-top: 0;
        text-align: center;
        padding: 0 80px;
        border: 2px var(--color-light-primary);
        height: 200px;
        border-style: none solid none solid;

        @media screen and (max-width: $breakpoint-md) {

            padding: 40px 0;
            height: 100%;

            border-style: solid none solid none;
            }
    }

    .liens {
        text-align: left;

        ul {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }

        @media screen and (max-width: $breakpoint-md) {

            text-align: center;
            }
    }
}
