header{
    position: fixed;
    top: 0;
    z-index: 15;
    background-color: var(--color-white);
    width: 100%;
    

        .nav-is-active &{

            ul{
                display: flex;
            }

            @media screen and (max-width: $breakpoint-md) {

                height: 100%;
                width: 100%;
                }
            
        }

       
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 171px;
    padding: 30px 0;
    
}

nav {
    ul {
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        

        li {
            font-weight: 700;
        }


        @media screen and (max-width: $breakpoint-md) {
        display: none;
        flex-direction: column;
        position: absolute;
        font-size: var(--font-size-h1);
        top: calc(50% - 240px);
        left: calc(50% - 160px);
        z-index: 10;

        }

        @media screen and (max-width: $breakpoint-md) {
            top: calc(50% - 240px);
            left: calc(50% - 140px);  
            }
    }

    

    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    h3 {
        color: var(--color-light-primary);
        font-weight: 400;
    }

    .icon {
        color: var(--color-black);
        height: 74px;
        width: 100px;
    }
    &:hover {
        text-decoration: none;
    }
}

.header__toggle{

    --bar-height: 8px;
    --bar-spacer: 6px;
    --bar-width: 50px;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: var(--bar-width);
    height: var(--bar-width);
    z-index: 10;

    span{
        background-color: var(--color-black);
        height: var(--bar-height);
        width: 100%;
        position: absolute;
        top: calc(50% - var(--bar-height) / 2);
        left: calc(50% - var(--bar-width) / 2);
        transition: all 0.3s ease-out;
        border-radius: 20px;


        &:nth-child(1) {
            top: calc(
                50% - var(--bar-height) / 2 - var(--bar-height) -
                    var(--bar-spacer)
            );
        }

        &:nth-child(3) {
            top: calc(
                50% - var(--bar-height) / 2 + var(--bar-height) +
                    var(--bar-spacer)
            );
        }

        @media screen and (min-width: $breakpoint-md) {
            display: none;

        }

        
    }
    
    .nav-is-active & {
   
        

            span {
                top: calc(50% - var(--bar-height) / 2);
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
    
                &:nth-child(2) {
                    transform: scale(0);
                }
    
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }

        
}
