.hero {
    position: relative;
    margin-top: var(--header-height);
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .hero-content {
        width: 50%;
        position: absolute;
        top: calc(50% - 120px);
        z-index: 10;
        h1,
        h3 {
            color: var(--color-white);
            font-weight: 400;
            margin: 0;
        }

        .blue {
            color: var(--color-primary);
        }
    }
}
