.hero {
    position: relative;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .hero-content {
        width: 50%;
        position: absolute;
        top: calc(50% - 160px);
        z-index: 10;
        h1,
        h3 {
            color: var(--color-white);
            font-weight: 400;
        }
    }
}
