.infos{
    padding: 100px 0 100px 0;


    h2{
        margin: 25px 0 25px 0;
    }

    h5{
        font-size: 25px;
    }
    h6{
        margin: 15px 0 15px 0;
    }
    .wrapper{
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 142px;
    }
    
    .sociaux{
        justify-content: left;
        margin-top: 34px;
    }
    
}