.infos{
    padding: 100px 0 100px 0;


    h2{
        margin: 25px 0 25px 0;
    }

    h5{
        font-size: 25px;
    }
    h6{
        margin: 15px 0 15px 0;
    }
    .wrapper{
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 142px;

        @media screen and (max-width: $breakpoint-md) {
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 40px;

            }
    }

    .infos-content,
    .infos-media{
        @media screen and (max-width: $breakpoint-md) {
            width: 100%;
        }
    }
    
    .sociaux{
        justify-content: left;
        margin-top: 34px;

        @media screen and (max-width: $breakpoint-md) {
            justify-content: center;

        }
    }
    
}