.news {
    padding: 100px 0 100px 0;
    .wrapper {
        text-align: center;
        .swiper {
            text-align: left;
        }

        .button {
            margin: 23px auto auto auto;
        }
    }
}
