.story {
    padding: 100px 0 100px 0;
    background-color: var(--color-bg-primary);
}

.story-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    margin-bottom: 50px;
    position: relative;

    @media screen and (max-width: $breakpoint-lg) {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 0;

        .story-content{
            margin: 0;
        }
        }
}

.story-group.reverse{
    .story-media {
        grid-column-start: 5;
        grid-column-end: 13;
    }

    .story-content {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    @media screen and (max-width: $breakpoint-lg) {

        flex-direction: column-reverse;
        margin-top: 100px;
        }
}

.story-media {
    height: 100%;
    width: 100%;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    grid-column-start: 1;
    grid-column-end: 9;
}



.story-content {
    margin: 15% 0 0 0;
    padding: 60px;
    border-radius: 30px;
    background-color: var(--color-white);
    grid-column-start: 8;
    grid-column-end: 13;
    position: absolute;

    @media screen and (max-width: $breakpoint-lg) {

        position: static;
        }
}

