/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #eff6f1;
    --color-light-gray: #f9f8f8;
    --color-dark-gray: #475b5a;
    // Couleurs du projet
    --color-primary: #0084b8;
    --color-light-primary: #00b5ff;
    --color-bg-primary: #0084b8;
}
