/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Yellowtail', sans-serif;

    --font-size-content: #{typo(12px, 20px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(28px, 64px)};
    --font-size-h2: #{typo(28px, 50px)};
    --font-size-h3: #{typo(28px, 36px)};
    --font-size-h4: #{typo(28px, 28px)};
}
