/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Yellowtail', sans-serif;
    --font-tertiary: 'Lexend Deca', sans-serif;

    --font-size-content: #{typo(12px, 20px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(24px, 64px)};
    --font-size-h2: #{typo(22px, 50px)};
    --font-size-h3: #{typo(18px, 36px)};
    --font-size-h4: #{typo(14px, 30px)};
    --font-size-h5: #{typo(12px, 28px)};
    --font-size-h6: #{typo(10px, 18px)};
}
