{% include "_partials/_header.html" %}

<div class="hero">
    <div class="swiper" data-component="Carousel">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="assets/images/hero-1.png" alt="image de la mer" /></div>
            <div class="swiper-slide"><img src="assets/images/hero-2.png" alt="image de bateau sur la mer" /></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="wrapper">
        <div class="hero-content">
        <h3>Baie Ste-Catherine</h3>
        <h1>Capitale de la zénitude et des baleines</h1>
        <a class="button">
            Découvre les activités
            <div class="arrow">

                <svg class="icon">
                    <use xlink:href="#icon-chevron-right"></use>
                </svg>
            </div>
        </a>
    </div>
    </div>
</div>

{% include "_partials/_footer.html" %}
