{% include "_partials/_header.html" %}

<div class="hero">
    <img src="assets/images/hero-3.png" alt="Image de plage vue d'un drone" />
    <div class="wrapper">
        <div class="hero-content">
            <h3 class="blue">Nous joindre</h3>
            <h1>Un paradis entre terre et mer à deux pas de Tadoussac</h1>
        </div>
    </div>
</div>

<section class="infos">

    <div class="wrapper">
    <div class="infos-media">
        <img src="assets/images/map.png" alt="Image Google Maps de la ville">
    </div>

    <div class="infos-content">
        <h2>Pour nous joindre</h2>
        <div class="infos-adress">
        <h6>Édifice municipal Albert-Boulianne</h6>
        <h6>308, rue Leclerc</h6>
        <h6>Baie-Sainte-Catherine</h6>
        <h6>Québec, G0T 1A0</h6>
        </div>

        <a class="contact">
            <div class="contact-icon"><svg class="icon icon--stroke">
                <use xlink:href="#icon-mail"></use>
            </svg></div>

            <div class="contact-content">
                <h5>Courriel</h5>
                <h6>municipalite@baiestecatherine.com</h6>
            </div>
        </a>

        <a class="contact">
            <div class="contact-icon"><svg class="icon icon--stroke">
                <use xlink:href="#icon-phone"></use>
            </svg></div>

            <div class="contact-content">
                <h5>Téléphone</h5>
                <h6>418-620-5020</h6>
            </div>
        </a>


        <ul class="sociaux">
            <li><a href="#"><svg class="icon icon-xl">
                <use xlink:href="#icon-insta"></use>
            </svg>
            <li><a href=""><svg class="icon icon-xl">
                <use xlink:href="#icon-facebook"></use>
            </svg></a></li>
            <li><a href="#"><svg class="icon icon-xl">
                <use xlink:href="#icon-twitter"></use>
            </svg></a></li>
            <li><a href="#"><svg class="icon icon-xl">
                <use xlink:href="#icon-pinterest"></use>
            </svg></a></li>
        </ul>

    </div>
</div>
</section>

{% include "_partials/_footer.html" %}
