{% include "_partials/_header.html" %}

<div class="hero">
    <img src="assets/images/hero-3.png" alt="Image de plage vue d'un drone" />
    <div class="wrapper">
        <div class="hero-content">
            <h3 class="blue">Nous joindre</h3>
            <h1>Un paradis entre terre et mer à deux pas de Tadoussac</h1>
        </div>
    </div>
</div>

<section class="infos">

    <div class="wrapper">
    <div class="infos-media">
        <img src="assets/images/map.png" alt="Image Google Maps de la ville">
    </div>

    <div class="infos-content">
        <h2>Pour nous joindre</h2>
        <div class="infos-adress">
        <h6>Édifice municipal Albert-Boulianne</h6>
        <h6>308, rue Leclerc</h6>
        <h6>Baie-Sainte-Catherine</h6>
        <h6>Québec, G0T 1A0</h6>
        </div>

        <a class="contact">
            <div class="contact-icon"><svg class="icon icon--stroke">
                <use xlink:href="#icon-mail"></use>
            </svg></div>

            <div class="contact-content">
                <h5>Courriel</h5>
                <h6>municipalite@baiestecatherine.com</h6>
            </div>
        </a>

        <a class="contact">
            <div class="contact-icon"><svg class="icon icon--stroke">
                <use xlink:href="#icon-phone"></use>
            </svg></div>

            <div class="contact-content">
                <h5>Téléphone</h5>
                <h6>418-620-5020</h6>
            </div>
        </a>


        <ul class="sociaux">
            <li><a href="#"><svg class="icon icon-xl">
                <use xlink:href="#icon-insta"></use>
            </svg>
            <li><a href=""><svg class="icon icon-xl">
                <use xlink:href="#icon-facebook"></use>
            </svg></a></li>
            <li><a href="#"><svg class="icon icon-xl">
                <use xlink:href="#icon-twitter"></use>
            </svg></a></li>
            <li><a href="#"><svg class="icon icon-xl">
                <use xlink:href="#icon-pinterest"></use>
            </svg></a></li>
        </ul>

    </div>
</div>
</section>

<section class="join">
    <div class="wrapper">
        
    <form action="" class="form" autocomplete="off" data-component="Form">

        <div class="form__body">
            <h5>Informations personnelles</h5>
            <fieldset class="grid">
                
                <div class="input">
                    <label class="input__label" for="name">Votre prénom* <div class="error_info">Veuillez entrer un prénom</div></label>
                    <input
                     class="input__element" 
                     type="text" 
                     name="" 
                     id="name" 
                     placeholder="Jean-Eude"
                     required
                     >
                </div>
    
                <div class="input">
                    <label class="input__label" for="last-name">Votre nom* <div class="error_info">Veuillez entrer un nom</div></label>
                    <input
                     class="input__element" 
                     type="text" 
                     name="" 
                     id="last-name" 
                     placeholder="Courtepaille"
                     required
                     >
                </div>
    
                <div class="input grid-fill">
                    <label class="input__label" for="address">Addresse* <div class="error_info">Veuillez entrer une adresse valide</div></label>
                    <input
                     class="input__element" 
                     type="text" 
                     name="address" 
                     id="address" 
                     placeholder="2020, rue du Finfin"
                     required
                     >
                </div>
                
                <div class="input">
                    <label class="input__label" for="city">Ville* <div class="error_info">Veuillez entrer un nom de ville</div></label>
                    <input
                     class="input__element" 
                     type="text" 
                     name="city" 
                     id="city" 
                     placeholder="Longueuil"
                     required
                     >
                </div>
                
                <div class="input select">
                    <label class="input__label" for="province">Province* <div class="error_info">Veuillez séléctionner une province</div></label>
                    <select name="province" id="province" class="input__element" required>
                        <option value="" hidden>Choisir une province</option>
                        <option value="qc">Québec</option>
                        <option value="on">Ontario</option>
                        <option value="ma">Manitoba</option>
                        <option value="sa">Saskatchewan</option>
                        <option value="al">Alberta</option>
                        <option value="cb">Colombie Britanique</option>
                        <option value="tn">Terre-Neuve et Labrador</option>
                        <option value="ipe">Île du Prince Édouard</option>
                        <option value="ne">Nouvelle Écosse</option>
                    </select>
                </div>
    
                <div class="input">
                    <label class="input__label" for="phone">Votre numéro de téléphone* <div class="error_info">Veuillez entrer un numéro de téléphone valide</div></label>
                    <input
                     class="input__element" 
                     type="tel" 
                     name="phone" 
                     id="phone" 
                     placeholder="(555) 625-3285"
                     pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$"
                     required
                     >
                </div>
    
                <div class="input">
                    <label class="input__label" for="email">Votre adresse courriel* <div class="error_info">Veuillez entrer une adresse courriel valide</div></label>
                    <input
                     class="input__element" 
                     type="email" 
                     name="email" 
                     id="email" 
                     placeholder="Jean-Eude@comtedelarocheliere.com"
                     required
                     >
                </div>
    
                <label class="input__label grid-fill" for="contact1">Méthode pour vous joindre* <div class="error_info">Veuillez sélectionner une méthode de contact</div></label>
    
                <div class="form__list" data-input-container>
                <div class="input radio grid-fill">
                    
                    <input
                     class="input__element" 
                     type="radio" 
                     name="contact" 
                     id="contact1" 
                     value="courriel"
                    required
                     >
                     <label class="input__label grid-fill" for="contact1">Courriel</label>
                </div>
    
                <div class="input radio grid-fill">
                    
                    <input
                     class="input__element" 
                     type="radio" 
                     name="contact" 
                     id="contact2" 
                     value="téléphone"
                     required
                     >
                     <label class="input__label grid-fill" for="contact2">Téléphone</label>
                </div>
    
            </div>
                
            </fieldset>
    
    
    
    
        
    
    
            <fieldset class="grid">
                <h5>Requête citoyenne</h5>
                <div class="input select grid-fill">
                    <label class="input__label" for="subject">Sujet* <div class="error_info">Veuillez entrer un sujet</div></label>
                    <select name="subject" id="subject" class="input__element" required>
                        <option value="" hidden>Sélectionnez une requête</option>
                        <option value="p">Permis de stationnement</option>
                        <option value="d">Demande de renseignements</option>
                        <option value="r">Réservation de salle</option>
                        <option value="a">Autre</option>
                    </select>
                </div>
    
                <div class="input textarea grid-fill">
                    <label class="input__label" for="comment">Commentaire* <div class="error_info">Veuillez entrer votre requête ici</div></label>
                    <textarea class="input__element" name="comment" id="comment" maxlength="500" placeholder="Inscrire votre requête ici" required></textarea>
                </div>
                
                <label class="input__label grid-fill" for="optin">Conditions d'utilisation* </label>
                <div class="input checkbox grid-fill">
                    
                    <input
                     class="input__element" 
                     type="checkbox" 
                     name="optin[]" 
                     id="optin" 
                     value="true"
                     required
                     >
                     <label class="input__label " for="optin">j'accepte les conditions d'utilisation <div class="error_info">Vous devez accepter les conditions d'utilisation</div></label>
                </div>
            </fieldset>
        
    
        <footer class="form__footer">
            <button class="button">
            Envoyer
            <div class="arrow">
                <svg class="icon icon--stroke icon--sm">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </div>
        </button>
        </footer>
    
        </div>

    <div class="form__confirmation">
        <h2>Merci beaucoup</h2>
        <p>Votre formulaire a été envoyé et sera pris en charge dans les plus brefs délais</p>
    </div>

    </form>
</div>
</section>

<section class="faq" data-component="Accordion">
    <div class="wrapper">
    <h3>Questions fréquentes</h3>
    <h2>Connaissez-nous mieux</h2>

    <div class="question-group js-header">
        <div class="question">
            <h5>Qu'est-ce que la MRC de Baie Ste-Catherine?</h5>
            <svg class="icon icon--lg">
                <use xlink:href="#icon-chevron-down"></use>
            </svg>
        </div>

        <div class="answer">
            <p>La MRC de Baie Ste-Catherine est une municipalité 
                régionale de comté située dans la région administrative de la Côte-Nord au Québec, Canada.</p>
        </div>
    </div>

    <div class="question-group js-header">
        <div class="question">
            <h5>Quelle est la population de la MRC de Baie Ste-Catherine?</h5>
            <svg class="icon icon--lg">
                <use xlink:href="#icon-chevron-down"></use>
            </svg>
        </div>

        <div class="answer">
            <p>Selon le recensement de 2016, la population de la MRC de 
                Baie Ste-Catherine est de 3 229 habitants.
            </p>
        </div>
    </div>

    <div class="question-group js-header">
        <div class="question">
            <h5>Quels sont les principaux secteurs économiques de la MRC de Baie Ste-Catherine?</h5>
            <svg class="icon icon--lg">
                <use xlink:href="#icon-chevron-down"></use>
            </svg>
        </div>

        <div class="answer">
            <p>Les principales industries de la MRC de Baie Ste-Catherine sont la pêche, 
                le transport maritime, le tourisme et l'agriculture.</p>
        </div>
    </div>

    <div class="question-group js-header">
        <div class="question">
            <h5>Quels sont les attraits touristiques de la MRC de Baie Ste-Catherine?</h5>
            <svg class="icon icon--lg">
                <use xlink:href="#icon-chevron-down"></use>
            </svg>
        </div>

        <div class="answer">
            <p>La MRC de Baie Ste-Catherine est connue pour sa proximité avec les baleines, ce qui en fait une destination populaire pour 
                les excursions d'observation des baleines. Elle compte également de nombreux sentiers de randonnée, des plages, 
                des musées et des festivals tout au long de l'année.</p>
        </div>
    </div>

    <div class="question-group js-header">
        <div class="question">
            <h5>Quels sont les services offerts par la MRC de Baie Ste-Catherine à ses citoyens?</h5>
            <svg class="icon icon--lg">
                <use xlink:href="#icon-chevron-down"></use>
            </svg>
        </div>

        <div class="answer">
            <p>La MRC de Baie Ste-Catherine offre une gamme de services à ses citoyens, notamment des services de gestion des déchets, 
                des services de protection contre les incendies, des services de développement économique 
                et touristique et des services de transport en commun.</p>
        </div>
    </div>

    <div class="question-group js-header">
        <div class="question">
            <h5>Quels sont les événements annuels organisés par la MRC de Baie Ste-Catherine?</h5>
            <svg class="icon icon--lg">
                <use xlink:href="#icon-chevron-down"></use>
            </svg>
        </div>

        <div class="answer">
            <p>La MRC de Baie Ste-Catherine organise plusieurs événements tout au long de l'année, 
                tels que la Fête de la pêche, la Journée internationale des femmes, 
                la Fête de la musique et le Tournoi de hockey Baie Ste-Catherine.</p>
        </div>
    </div>

    <div class="question-group js-header">
        <div class="question">
            <h5>Quels sont les projets en cours dans la MRC de Baie Ste-Catherine?</h5>
            <svg class="icon icon--lg">
                <use xlink:href="#icon-chevron-down"></use>
            </svg>
        </div>

        <div class="answer">
            <p>La MRC de Baie Ste-Catherine travaille actuellement sur 
                plusieurs projets, notamment le développement d'un parc 
                industriel et l'amélioration des infrastructures de transport.</p>
        </div>
    </div>
</div>
</section>

{% include "_partials/_footer.html" %}
